.filter-container {
  background-color: var(--main-bg);
  position: fixed;
  transition: 2s ease-in-out;
  top: 0;
  right: -100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  padding: 50px 70px 50px 50px;
  border: 1px solid rgb(204, 204, 204);
  overflow-y: auto;
  z-index: 1000;

  .filter-title {
    padding-bottom: 15px;
    font-family: 'Golos Text Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    /* margin-bottom: 20px;
        border-bottom: 1.5px solid var(--5); */
  }

  .filter__show-content-title {
    padding-bottom: 0;
  }

  .filter__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    .filter__header-title {
      margin: 0;
      padding: 0;
      margin-right: 10px;
      color: var(--color-orange);
      font-family: 'GetVoIP Grotesque Regular', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
    }
  }

  .filter__show-content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .filter__show-content {
      width: 100%;
      display: flex;
      margin-bottom: 40px;
      flex-direction: column;

      .filter__show-content-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        /* margin-bottom: 20px; */

        .filter__show-content-item {
          background-color: var(--main-bg);
          padding: 0 15px;
          font-size: 16px;
          font-weight: 400;
          line-height: 45px;
          border-radius: 15px;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 39px;
          border: 1px solid var(--color-orange);
          transition: all 0.3s;
        }

        .filter__show-content-item:last-of-type {
          margin-bottom: 20px;
        }

        .filter__show-content-item__btn-svg {
          background: url('../images/filter/close_item_hover.svg') no-repeat
            center center/contain;
          width: 23px;
          height: 23px;
          cursor: pointer;
        }

        .filter__show-content-item:hover {
          border-color: var(--dark-gray);

          /*svg path {*/
          /*    fill: var(--color-orange);*/
          /*}*/

          .filter__show-content-item__btn-svg {
            background: url('../images/filter/close_item.svg') no-repeat center
              center/contain;
          }
        }
      }

      .filter__show-content-item--counter {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        column-gap: 10px;
        color: var(--ligth-gray);

        .counter-elem {
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          text-align: left;
        }
      }
    }
  }

  .filter-form.filter-form__content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .filter__submit-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        padding: 37px 25px;
        background-color: var(--5);
        margin-bottom: 40px;

        .filter__submit-box__title {
          font-family: 'Golos Text SemiBold', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.2;
          text-align: left;
        }

        .filter__submit-box__btn {
          border-radius: 30px;
          color: var(--main-bg);
          background-color: var(--color-orange);
          font-size: 18px;
          height: 45px;
          line-height: 45px;
          max-width: 140px;
          width: 100%;
          transition: all 0.3s ease-in;
          padding: 0;
          border: none;
          cursor: pointer;
          justify-content: center;
        }

        .filter__submit-box__btn:hover {
          background-color: var(--dark-gray);
        }
      }
    }
  }
}

.filter-container-hidden {
  right: -100%;
  transition: 2s ease-in-out;
}

.widget {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;

  .widget__title {
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid transparent;
    height: 39px;
    line-height: 39px;
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-gray);
    cursor: pointer;
    background-color: var(--5);
    transition: transform 0.3s;
  }

  label {
    cursor: pointer;
  }

  .widget__title::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 23px;
    height: 23px;
    transform: translateY(-50%);
    background-image: url('../images/filter/down.svg');
    background-repeat: no-repeat;
    background-size: initial;
    transition: transform 0.3s;
  }

  .widget__title_down {
    position: relative;
    transition: transform 0.3s;
    background: transparent;
    border-color: var(--color-orange);
  }

  .widget__title_down::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%) rotate(360deg);
    background-image: url('../images/filter/up.svg');
    background-repeat: no-repeat;
    background-size: initial;
    transition: transform 0.3s;
  }

  .widget__body {
    width: 100%;

    .widget__body-title:first-child {
      padding-top: 20px;
    }

    .option {
      width: 100%;
      max-height: 160px;
      overflow: hidden;
      /*border: 1px solid red;*/

      .option__row {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 15px;

        .option__btn-hidden {
          display: none;
        }

        .option__btn-visible {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
        }

        .option__btn {
          width: 100%;
          display: flex;
          align-items: center;
          height: 20px;
          line-height: 20px;

          .checkbox-real {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            appearance: none;
            width: 1px;
            height: 1px;
          }

          .option__radio-fake {
            position: relative;
            border-radius: 5px;
            border: 1px solid var(--dark-gray);
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: 17px;
          }

          .option__radio-title {
            display: inline-flex;
            margin: 0;
            padding: 0;
            align-items: center;
            /*font-family: var(--font-family-reg);*/
            font-weight: 400;
            font-size: 16px;
            color: var(--dark-gray);
          }

          .checkbox-real:checked + .option__radio-fake {
            background-color: var(--color-orange);
            border: 1px solid var(--color-orange);
          }

          .checkbox-real:checked + .option__radio-fake::after {
            content: '';
            width: 10px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../images/filter/check.svg');
            background-repeat: no-repeat;
            background-size: cover;
          }

          .checkbox-real:checked ~ .option__radio-title {
            /*font-family: var(--font-family-med);*/
            font-weight: 500;
            color: #3c3c3c;
          }
        }
      }

      .option__show-more {
        font-weight: 400;
        font-size: 16px;
        color: #4290c9;
        border: none;
        cursor: pointer;
        background: transparent;
      }

      .option__show-more:hover {
        color: #034170;
      }

      .option__radio-count {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        color: rgba(142, 142, 142, 1);
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }
}

#not-hidden {
  width: 100%;
  max-height: 100%;
  overflow: visible;
  border: none;
}

.widget.widget-height .widget__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.widget.widget-height.widget-height__all-height .widget__body {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.filter__btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .filter__btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s linear;

    svg {
      width: 24px;
      height: 24px;
      display: inline-flex;
      margin-right: 10px;
      transition: 0.3s linear;
    }
  }

  .btn__reset {
    border-color: #d6d6d6;
  }

  .btn__reset:hover {
    box-shadow: 0 10px 10px #aaa9a9;
    transition: 0.3s linear;

    @media (max-width: 900px) {
      box-shadow: none;
    }

    svg {
      transform: rotate(90deg);
    }
  }
}

.widget:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.filters-price__input {
}

.widget-title-slider {
  display: flex;
  align-items: center;

  svg {
    width: 23px;
    height: 23px;
    margin-right: 15px;
  }
}

.filters-range-one,
.filters-range-two {
  margin-bottom: 70px;
}

.filters-price__inputs {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-price__label {
  width: 170px;
  margin: 0;
  padding: 10px;
  height: 40px;
  border: 1.5px solid rgba(142, 142, 142, 1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .filters-price__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-right: 10px;
    color: rgba(142, 142, 142, 1);
  }

  .filters-price__input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    /*width: 40%;*/
    max-width: 50px;
    color: rgba(142, 142, 142, 1);
  }
}

.noUi-handle {
  box-shadow: none;
  border: 8px solid var(--ligth-gray);
  border-radius: 100%;
}

.noUi-target {
  background: var(--5);
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

.noUi-horizontal {
  height: 5px;
}

.noUi-connects {
  border-radius: 100px;
}

.noUi-connect {
  background: var(--5);
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  right: -17px;
  top: -9px;
}

.noUi-handle.noUi-handle-upper {
  right: 0;
}

.noUi-handle.noUi-handle-lower {
  right: -23px;
}

.filter-show-more__btn {
  max-width: 463px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  transition: 0.3s linear;
  margin-bottom: 0;
  border: none;
  outline: none;
}

.filter-show-more__btn_res {
  margin-bottom: 20px;
  border: none;
  outline: none;
  max-width: 463px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  transition: 0.3s linear;
}

.filter-show-more__btn_res:hover {
  background-color: var(--dark-gray);
}

.filter-show-more__btn:hover {
  color: var(--color-orange);
}

.hide-filter__btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  color: var(--dark-gray);
  transition: 0.3s linear;
  padding: 0;
  max-width: 150px;
  width: 100%;
}

.hide-filter__btn:hover {
  color: var(--color-orange);
}

.filter-scroll {
  height: 490px;
}

.filter-over-auto-scroll {
  overflow-y: auto !important;
}

.filter-over-auto__btn {
  background-color: var(--color-orange);
  font-weight: 400;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--main-bg);
  line-height: 45px;
  height: 45px;
  max-width: 463px;
  width: 100%;
  transition: 0.3s linear;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-over-auto__btn:hover {
  background-color: var(--dark-gray);
}

.box-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: calc((100% - 20px) / 2);
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    color: var(--dark-gray);
    transition: 0.3s ease-in;
    font-size: 18px;
    font-family: 'Golos Text Medium', sans-serif;
    font-weight: 500;
    line-height: 1.2;

    .svg-filter-show-more {
      width: 23px;
      height: 23px;
      color: var(--dark-gray);
      margin-left: 5px;
    }
  }

  button:hover {
    color: var(--color-orange);
    background-color: transparent;

    .svg-filter-show-more {
      width: 23px;
      height: 23px;
      color: var(--color-orange);
      transform: rotate(180deg);
    }
  }
}

.filter-container-active {
  right: 0;
}

.border-bottom-line {
  border-bottom: 1.5px solid var(--5);
  margin-bottom: 15px;
}

.filters__item.filters-price:hover {
  .filters-price__label {
    border: 1.5px solid var(--color-orange);

    .filters-price__text {
      color: var(--color-orange);
    }

    .filters-price__input {
      color: var(--color-orange);
    }
  }

  .noUi-handle {
    border-color: var(--color-orange);
  }
}

.filters__item.filters-price {
  .filters-price__label:focus {
    border: 1.5px solid var(--color-orange);

    .filters-price__text:focus {
      color: var(--color-orange);
    }

    .filters-price__input:focus {
      color: var(--color-orange);
    }
  }

  .noUi-handle:focus {
    border-color: var(--color-orange);
  }
}

.filter-form.filter-form__content .reset__btn {
  background: var(--5);
  max-width: 463px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: var(--ligth-gray);
  transition: 0.3s ease-in;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-family: 'Golos Text Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.filter-form.filter-form__content .reset__btn:hover {
  color: var(--dark-gray);
  background: var(--ligth-gray);
}
