:root {
  --main-bg: #ffffff;
  --color-orange: #eb6320;
  --title-color-ligth: #fefefe;
  --dark-gray: #2b2a29;
  --color-opasity: rgba(254, 254, 254, 0.7);
  --ligth-gray: #8e8e8e;
  --5: #efefef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline: 1px solid red !important;*/
}

*::before,
*::after {
  box-sizing: inherit;
  /*outline: 1px solid red !important;*/
}

html {
  box-sizing: border-box;
  /*font-size: calc(100vw / 3840 * 10);*/
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-weight: 300;
  background-color: var(--main-bg);
  height: 100vh;
  font-family: 'TT Norms Pro Light', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.body-overflow-hidden {
  overflow: hidden;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

p,
span {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1390px;
  width: 100%;
  padding: 0 11px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.title,
h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-gray);
  position: relative;
  margin-bottom: 30px;
}

.btn {
  display: inline-flex;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  color: var(--title-color-ligth);
  line-height: 60px;
  height: 60px;
  padding: 0 30px;
  white-space: nowrap;
  border: 1px solid transparent;
  align-items: center;
  cursor: pointer;
}

.none {
  display: none;
}

.swiper-wrapper {
  padding-bottom: 15px;
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    margin-bottom: 20px;
  }
}

.card-like-box {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background-color: rgba(254, 254, 254, 1);
  z-index: 40;
  right: 30px;
  top: 17px;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card-like-box {
    width: 32px;
    height: 32px;
  }
}

.card-like-box svg {
  width: 18px;
  height: 16px;
  color: #2b2a29;
}

.card-like-box:hover,
.card-like-box__active {
  background-color: var(--color-orange);
}

.card-like-box:hover svg,
.card-like-box__active svg {
  color: var(--main-bg);
}
