.modals {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.modals_opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modals__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modals__container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modals__form {
    max-width: 376px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-cookies {
    max-width: 1000px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: var(--dark-gray);
    border-radius: 30px;
}

.modal-cookies__text {
    max-width: 630px;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--main-bg);
}

.modal-cookies__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--main-bg);
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.modal-cookies__btn {
    border: 1.5px solid var(--title-color-ligth);
    border-radius: 30px;
    max-width: 220px;
    width: 100%;
    background: transparent;
    justify-content: center;
}

.modals__text-box {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modals__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 0.95;
    color: var(--main-bg);
    margin-bottom: 30px;
}

.modals__desc {
    font-weight: 300;
    font-size: 25px;
    line-height: 1.2;
    color: var(--main-bg);
}

.modals-availability {
    padding: 50px 0;
    width: 100%;
    background-color: var(--dark-gray);
}

.modals-availability__btn-link {
    max-width: 270px;
    width: 100%;
    background-color: var(--color-orange);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.modals-availability__btn-link:hover {
    background-color: var(--ligth-gray);
}

.modals-catalog {
    width: 100%;
    padding: 30px 0;
    background-color: var(--dark-gray);
}

.modals-catalog__title {
    margin-bottom: 0;
}

.modals-catalog__btn-download {
    max-width: 270px;
    width: 100%;
    margin-right: 16px;
    border: 1.5px solid var(--color-orange);
    border-radius: 30px;
    background-color: transparent;
    -webkit-box-pack: center;
    transition: 0.3s ease-in;
}

.modals-catalog__btn-download:hover {
    background-color: var(--color-orange);
    color: var(--main-bg);
    border-color: var(--main-bg);
}

.modals-catalog__btn-link {
    max-width: 270px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-orange);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.modals-catalog__btn-link:hover {
    background-color: var(--ligth-gray);
}

.modals-connection {
    width: 100%;
    padding: 50px 0;
    background-color: var(--dark-gray);
}

.modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.modal-form > input {
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: var(--title-color-ligth);
    border: 1.5px solid var(--5);
    border-radius: 100px;
    padding: 8px 10px 8px 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    height: 60px;
    color: var(--dark-gray);
}

.modal-form > input::placeholder {
    color: var(--ligth-gray);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > .modal-form__btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-orange);
    transition: 0.3s ease-in;
}

.modal-form > .modal-form__btn:hover {
    background-color: var(--ligth-gray);
}

.modal-form__callback-form-policy {
    margin-left: 0;
}

.modals-zakaz {
    max-width: 710px;
    min-height: 700px;
    width: 100%;
    background-color: var(--dark-gray);
    padding: 60px 80px 46px;
    border-radius: 30px;
}

.modals-zakaz__text-box {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.modals-zakaz__title {
    color: var(--color-orange);
    align-items: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.01562;
    margin-bottom: 0;
}

.modals-zakaz__btn {
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.modals-zakaz__btn svg path {
    transition: 0.3s ease-in;
}

.modals-zakaz__btn:hover svg path {
    stroke: var(--color-orange);
}

.modals-zakaz__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.modal-zakaz__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-zakaz__form-label {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--title-color-ligth);
    margin-bottom: 20px;
}

.modal-zakaz__form-label-mail {
    margin-bottom: 30px;
}

.modal-zakaz__form-input {
    margin-top: 20px;
    border: 1px solid rgba(224, 224, 224, 0.2);
    border-radius: 8px;
    padding: 12px 16px;
    width: 550px;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.03);
    color: var(--title-color-ligth);
}

.modal-zakaz__form-input::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-btn {
    width: 550px;
    box-sizing: border-box;
    background-color: var(--ligth-gray);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.modal-zakaz__form-btn:hover {
    background-color: var(--color-orange);
    transition: 0.3s ease-in;
}

.modals-zakaz__policy-text {
    max-width: 550px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.22222;
    text-align: center;
    color: var(--title-color-ligth);
}

.modals-zakaz__policy-link {
    color: var(--color-orange);
    position: relative;
    transition: 0.3s ease-in;
}

.modals-zakaz__policy-link:hover::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -1.5px;
    width: 100%;
    height: 1px;
    background-color: var(--color-orange);
}

.modals-form-representation {
    max-width: 670px;
    width: 100%;
    padding: 60px;
    height: auto;
    background: var(--5);
    border-radius: 30px;

    @media (max-width: 768px) {
        padding: 60px 22px;
    }

    @media (max-width: 467px) {
        border-radius: 0;
    }

    .form-representation__container {

        @media (max-width: 768px) {
            padding: 0;
        }
    }
}
